body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--night-mode);
  color: white;
}

:root{
    --night-mode: #181f29;
}

div{
    color: white;
    font-size: 18px;
}

.somma{
    font-size: 28px;
}

.my-cont{
    height: 400px;
}
.big-homepage{
    font-size: 42px;
}

.effect:hover{
  transition: 0.5s;
  background-color: transparent;
  border: 1px solid var(--night-mode);
  border-radius: 20px;
}

.genera-lista{
    border-radius: 0.8rem;
    color: #181f29;
}